@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.smallImg {
  width: 8vw;
  max-height: 15vh;
}
.titleWeb {
  font-family: Righteous;
  font-size: 5vw;
}
main > .container {
  min-height: 80vh;
}

.main__textAbout--article {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
  padding: 3%;
}
.listItem {
  font-size: 0.9em;
  list-style: outside;
}
