@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
/* Reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Tahoma, sans-serif;
}

.container {
  background-color: #f5f5f5;
  color: #f5f5f5;
  margin: 0 auto;
  max-width: 100vw;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 18vh 1fr 30px;
      grid-template-rows: 18vh 1fr 30px;
      grid-template-areas: "header header header header header header" ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . .";
}

.container__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: -webkit-gradient(linear, left bottom, left top, from(#192231), to(#494e6b));
  background: linear-gradient(to top, #192231, #494e6b);
}

.container__headerLogo {
  margin-left: 10vw;
  margin-right: auto;
}

.container__headerLogo--img {
  content: url("../img/asterixLogo.png");
  width: 100%;
  max-height: 18vh;
}

.container__headerTitle {
  margin-top: 1em;
  margin-right: auto;
}

.container__headerTitle--text {
  font-family: Righteous;
  font-size: 4em;
}

.container__headerNav {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 1vw;
}

.container__headerNavTextBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 10px;
}

.container__headerNavTextBar--item {
  position: relative;
}

.container__headerNavTextBar--item:hover ul,
.container__headerNavTextBar :focus ul {
  visibility: visible;
  opacity: 1;
}

.container__headerNavTextBar--link {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1.6em;
  font-family: "Rajdhani", sans-serif;
  padding: 20px;
}

.container__headerNavTextBar--link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container__headerNavTextBar--drop {
  position: absolute;
  top: 2 rem;
  left: 1.5rem;
  font-size: 1.1rem;
  background-color: rgba(152, 135, 143, 0.6);
  border-radius: 2px;
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 0.2rem;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.container__headerNavTextBar--drop > li {
  padding: 1rem 1rem;
  border-radius: 2px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.container__headerNavTextBar--drop > li:hover,
.container__headerNavTextBar :focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.container__headerNavTextBar--drop a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1.3em;
  font-family: "Rajdhani", sans-serif;
}
/*# sourceMappingURL=styles.css.map */